/*----------------------------------------Colors----*/
/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/
/*----------------------------------------Navbar----*/
.nav-height-section {
  width: 100%;
  height: 56px;
}

/*-----------------------------------------Intro----*/
/*--------------------------------------Services----*/
/*-------------------------------------Portfolio----*/
.portfolio {
  padding: 5rem 0;
}

.portfolio img {
  width: 100%;
  height: auto;
}

/*----------------------------------------Skills----*/
/*---------------------------------------Contact----*/
/*----------------------------------------Footer----*/
/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/
/*------------------------------------ Buttons----*/
.btn {
  border-radius: 2.5rem;
  background: #DF9216;
  color: #fff;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

/*--------------------------------------- Text----*/
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #05386B;
}

p {
  color: #2c2528;
}

/*-------------------------------------- Links----*/
a {
  font-weight: 700;
  color: #05386B;
}

a:hover {
  text-decoration: none;
  color: #DF9216;
}

/*-------------------------------------- Icons----*/
.fa {
  font-size: 25px;
}

.green-icon {
  color: #379683;
}

.blue-icon {
  color: #05386B;
}

.nav-icon {
  padding: 0 0.3rem;
}

/*-------------------------------------- Cards----*/
.card {
  width: 20rem;
}

/*-------------------------------------- Carousel----*/
/*-------------------------------------- Form----*/
.form-control:focus {
  border-color: #05386B;
  -webkit-box-shadow: 0 0 0 2px #05386B;
          box-shadow: 0 0 0 2px #05386B;
  outline: none;
}

/*-------------------------------------- Images----*/
@media screen and (min-width: 992px) {
  nav {
    height: 56px;
  }
}

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/
html {
  scroll-behavior: smooth;
}

/*------------------------------------------Body----*/
body {
  font-family: "Oxygen", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(6.2%, #05386B), color-stop(99.7%, #379683));
  background-image: linear-gradient(to right, #05386B 6.2%, #379683 99.7%);
}

/*----------------------------------------Navbar----*/
nav {
  background: #fff;
}

.navbar-brand {
  font-weight: 700;
}

.nav-item {
  padding: 1rem 0;
}

.nav-shadow {
  -webkit-box-shadow: 0 0.15rem 0.35rem 0 rgba(0, 0, 0, 0.135);
          box-shadow: 0 0.15rem 0.35rem 0 rgba(0, 0, 0, 0.135);
}

/*-----------------------------------------Intro----*/
.intro {
  background: #fff;
}

/*-------------------------------------Portfolio----*/
.portfolio {
  background: #fff;
}

/*----------------------------------------Skills----*/
/*---------------------------------------Contact----*/
.contact {
  background: #fff;
}

/*----------------------------------------Footer----*/
footer {
  background: #fff;
}

.bubbles {
  width: 100%;
  height: auto;
}
/*# sourceMappingURL=styles.css.map */