/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/

/*------------------------------------ Buttons----*/
.btn {
  border-radius: 2.5rem;
  background: $orange;
  color: $white;
}

.navbar-toggler {
  border: none;

  &:focus {
    outline: none;
  }
}

/*--------------------------------------- Text----*/
h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: $blue;
}

p {
  color: $black;
}

/*-------------------------------------- Links----*/

a {
  font-weight: 700;
  color: $blue;
}

/*-------------------------------------- Icons----*/
.fa {
  font-size: 25px;
}

.burger-icon {
  color: $green;
}

.nav-icon {
  padding: 0 0.3rem;
}