/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/

/*----------------------------------------Navbar----*/
.nav-height-section {
    width: 100%;
    height: 56px;
}


/*-----------------------------------------Intro----*/

/*--------------------------------------Services----*/

/*-------------------------------------Portfolio----*/
.portfolio {
    padding: 5rem 0;

    & img {
        width: 100%;
        height: auto;
    }
}

/*----------------------------------------Skills----*/

/*---------------------------------------Contact----*/

/*----------------------------------------Footer----*/

