@import "variables", "mixins", "layout", "components", "media-queries";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/

/*------------------------------------------Body----*/
body {
  font-family: "Oxygen", sans-serif;
  background-image: linear-gradient(to right, $blue 6.2%, $green 99.7%);
}

/*----------------------------------------Navbar----*/
nav {
  background: $white;
}

.navbar-brand {
  font-weight: 700;
}

.nav-item {
  padding: 1rem 0;
}

/*-----------------------------------------Intro----*/
.intro {
  background: $white;
}

/*-------------------------------------Portfolio----*/
.portfolio {
  background: $white;
}

/*----------------------------------------Skills----*/

/*---------------------------------------Contact----*/
.contact {
  background: $white;
}

/*----------------------------------------Footer----*/
footer {
  background: $white;
}

.bubbles {
  width: 100%;
  height: auto;
}
