@import "variables", "mixins", "layout", "components", "media-queries";

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/

/*------------------------------------------Body----*/

/*----------------------------------------Navbar----*/
nav {
  background: white;
}

/*-------------------------------------Jumbotron----*/
.jumbotron {
  background: linear-gradient(
    90deg,
    rgba(7, 90, 195, 1) 0%,
    rgba(255, 130, 177, 1) 100%
  );
}

/*---------------------------------Knockout Text----*/
.knockout-text {
  font-weight: bold;
  font-size: 70px;
  text-transform: uppercase;
  padding: 200px 0;
  color: black;
  background: white;
  mix-blend-mode: lighten;
}
