/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/

/*------------------------------------ Buttons----*/
.btn {
  border-radius: 2.5rem;
  background: $orange;
  color: $white;
}

.navbar-toggler {
  border: none;

  &:focus {
    outline: none;
  }
}

.to-top {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

/*--------------------------------------- Text----*/
h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: $blue;
}

h2 {
  @extend h1;
}

h3 {
  @extend h1;
}

p {
  color: $black;
}

.text-white {
  color: $white;
}

/*-------------------------------------- Links----*/

a {
  font-weight: 700;
  color: $blue;

  &:hover {
    text-decoration: none;
    color: $orange;
  }
}

/*-------------------------------------- Icons----*/
.icon {
  width: 50px;
  height: 50px;
}

.fa {
  font-size: 25px;
}

.green-icon {
  color: $green;
}

.blue-icon {
  color: $blue;
}

.nav-icon {
  padding: 0 0.3rem;
}

/*-------------------------------------- Cards----*/


/*-------------------------------------- Carousel----*/
.glide__arrows {
  display: flex;
  justify-content: center;
}

.glide__arrow {
  padding: 0;
  margin: 0 2rem;
  background: transparent;
  border: none;
  border-radius: 8rem;
  box-shadow: -20px 20px 6px 4px rgba(0,0,0,0.75);

  &:focus {
    outline: none;
  }
}

/*-------------------------------------- Form----*/
.form-control:focus {
  border-color: $blue;
  box-shadow: 0 0 0 2px $blue;
  outline: none;
}

/*-------------------------------------- Images----*/
