/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/

/*------------------------------------ Buttons----*/
.btn {
  border-radius: 2.5rem;
  background: $orange;
  color: $white;

  &:hover {
    color: $white;
    background: lighten($color: $orange, $amount: 9%);
  }

  &:focus,
  &:active {
    box-shadow: none !important;
    outline: 0px !important;
  }
}

.navbar-toggler {
  border: none;

  &:focus {
    outline: none;
  }
}

.btn-down {
  width: 50px;
  height: 50px;

  &:hover {
    filter: brightness(1.1);
  }
}

/*--------------------------------------- Text----*/
h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: $blue;
}

h2 {
  @extend h1;
}

h3 {
  @extend h1;
}

p {
  color: $black;
}

.text-white {
  color: $white;
}

/*-------------------------------------- Links----*/

a {
  font-weight: 700;
  color: $white;

  &:hover {
    color: $white;
  }
}

/*-------------------------------------- Icons----*/
.icon-sm {
  width: 25px;
  height: 25px;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon-lg {
  width: 55px;
  height: auto;
}

/*-------------------------------------- Cards----*/
.card {
  max-width: 20rem;
}

/*-------------------------------------- Form----*/
.form-control:focus {
  border-color: $blue;
  box-shadow: 0 0 0 2px $blue;
  outline: none;
}

/*---------------------------------------- HR----*/
hr {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  border-color: #d6d6d6;
}