/* oxygen-regular - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oxygen-v9-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Oxygen Regular"), local("Oxygen-Regular"), url("../fonts/oxygen-v9-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen-v9-latin-regular.woff2") format("woff2"), url("../fonts/oxygen-v9-latin-regular.woff") format("woff"), url("../fonts/oxygen-v9-latin-regular.ttf") format("truetype"), url("../fonts/oxygen-v9-latin-regular.svg#Oxygen") format("svg");
  /* Legacy iOS */
}

/* oxygen-700 - latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/oxygen-v9-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Oxygen Bold"), local("Oxygen-Bold"), url("../fonts/oxygen-v9-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/oxygen-v9-latin-700.woff2") format("woff2"), url("../fonts/oxygen-v9-latin-700.woff") format("woff"), url("../fonts/oxygen-v9-latin-700.ttf") format("truetype"), url("../fonts/oxygen-v9-latin-700.svg#Oxygen") format("svg");
  /* Legacy iOS */
}

/*----------------------------------------Colors----*/
/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/
/*----------------------------------------Navbar----*/
.nav-height-section {
  width: 100%;
  height: 56px;
}

/*-----------------------------------------Intro----*/
/*--------------------------------------Services----*/
/*-------------------------------------Portfolio----*/
.portfolio {
  padding: 5rem 0;
}

.portfolio img {
  width: 100%;
  height: auto;
}

/*----------------------------------------Skills----*/
.skills {
  height: 500px;
}

/*---------------------------------------Contact----*/
/*----------------------------------------Footer----*/
/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/
/*------------------------------------ Buttons----*/
.btn {
  border-radius: 2.5rem;
  background: #DF9216;
  color: #fff;
}

.btn:hover {
  color: #fff;
  background: #c38013;
}

.btn:focus, .btn:active {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: 0px !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.to-top {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

/*--------------------------------------- Text----*/
h1, h2, h3 {
  text-transform: uppercase;
  font-weight: 700;
  color: #05386B;
}

p {
  color: #2c2528;
}

.text-white {
  color: #fff;
}

/*-------------------------------------- Links----*/
a {
  font-weight: 700;
  color: #05386B;
}

a:hover {
  text-decoration: none;
  color: #DF9216;
}

/*-------------------------------------- Icons----*/
.icon-sm {
  width: 25px;
  height: 25px;
}

.icon {
  width: 50px;
  height: 50px;
}

.icon:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

/*-------------------------------------- Cards----*/
.card {
  max-width: 20rem;
  -webkit-box-shadow: -20px 20px 6px 4px rgba(0, 0, 0, 0.75);
          box-shadow: -20px 20px 6px 4px rgba(0, 0, 0, 0.75);
}

/*-------------------------------------- Form----*/
.form-control:focus {
  border-color: #05386B;
  -webkit-box-shadow: 0 0 0 2px #05386B;
          box-shadow: 0 0 0 2px #05386B;
  outline: none;
}

/*-------------------------------------- Images----*/
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  5% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  15% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  20% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 992px) {
  nav {
    height: 56px;
  }
}

/*----------------------------------------------------
---------------------------------Table of Contents----
------------------------------------------------------

*/
/*------------------------------------------Body----*/
body {
  font-family: "Oxygen", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(6.2%, #05386B), color-stop(99.7%, #379683));
  background-image: linear-gradient(to right, #05386B 6.2%, #379683 99.7%);
}

/*----------------------------------------Navbar----*/
nav {
  background: #fff;
}

.navbar-brand {
  font-weight: 700;
  color: #05386B;
}

.nav-item {
  padding: 1rem 0;
}

.nav-shadow {
  -webkit-box-shadow: 0 0.15rem 0.35rem 0 rgba(0, 0, 0, 0.135);
          box-shadow: 0 0.15rem 0.35rem 0 rgba(0, 0, 0, 0.135);
}

/*-----------------------------------------Intro----*/
.intro {
  background: #fff;
}

/*-------------------------------------Portfolio----*/
.portfolio {
  background: #fff;
}

/*----------------------------------------Skills----*/
/*---------------------------------------Contact----*/
.contact {
  background: #fff;
}

/*----------------------------------------Footer----*/
footer {
  background: #fff;
}

.bubbles {
  width: 100%;
  height: auto;
}

.bounce {
  -webkit-animation: bounce 5s infinite;
          animation: bounce 5s infinite;
}
/*# sourceMappingURL=styles.css.map */